<div class="profile-page-container">
  <div class="information-container">
    <p-card>
      <ng-template #title
        ><h2 class="information-card-title">{{
          'navbar.user-profile-card-title' | translate
        }}</h2></ng-template
      >
      <div class="account-information">
        <div class="profile-picture">
          <img
            class="profile-picture-image"
            ngSrc="./assets/photos/tung-tung-tung-sahur.png"
            alt="Profile Picture"
            height="100"
            width="100"
          />
        </div>
        <div class="first-text-information-column">
          <p class="account-information-element">
            <span class="user-information-title">
              {{ 'profile-page.card-information.email' | translate }}
            </span>
            <span class="user-information"> {{ this.user?.email || '' }} </span>
          </p>
          <p class="account-information-element">
            <span class="user-information-title">
              {{ 'profile-page.card-information.phone-number' | translate }}
            </span>
            <span class="user-information">
              {{ this.user?.userDetails?.phoneNumber || '' }}
            </span></p
          >
          <p class="account-information-element">
            <span class="user-information-title"
              >{{ 'profile-page.card-information.name' | translate }}
            </span>
            <span class="user-information"> {{ getUserFullName() }} </span>
          </p>
        </div>
        <div class="second-text-information-column">
          <p class="account-information-element">
            <span class="user-information-title">
              {{ 'profile-page.card-information.address' | translate }}
            </span>
            <span class="user-information"> {{ this.user?.userDetails?.address || '' }} </span>
          </p>
          <p class="account-information-element"
            ><span class="user-information-title">
              {{ 'profile-page.card-information.postal-code' | translate }}
            </span>
            <span class="user-information"> {{ this.user?.userDetails?.postalCode || '' }} </span>
          </p>
          <p class="account-information-element">
            <span class="user-information-title">
              {{ 'profile-page.card-information.birth-date' | translate }}
            </span>
            <span class="user-information">
              {{ this.user?.userDetails?.birthDate || '' | date: 'mediumDate' }}
            </span></p
          >
        </div>
      </div>
    </p-card>
    <p-card>
      <div class="new-case-card-content">
        <h2 class="new-case-card-title"> {{ 'profile-page.card-new-case.title' | translate }} </h2>
        <h3 class="new-case-card-subtitle">
          {{ 'profile-page.card-new-case.subtitle' | translate }}
        </h3>
        <div class="button-section">
          <p-button
            class="new-case-button"
            label="{{ 'profile-page.card-new-case.button' | translate }}"
            (onClick)="redirectToCaseForm()"
          ></p-button>
        </div>
      </div>
    </p-card>
  </div>
  <div class="table-wrapper mx-5">
    <p-card>
      <h2 class="case-table-title flex-wrap"> {{ 'profile-page.case-table-title' | translate }}</h2>
      <p-table
        #dt
        dataKey="id"
        [value]="userCases"
        [paginator]="true"
        [rows]="5"
        [customSort]="true"
        [scrollable]="true"
        scrollHeight="80vh"
        [rowsPerPageOptions]="[5, 7]"
        (sortFunction)="customSort($event)"
        [globalFilterFields]="[
          'id',
          'date',
          'flightNumber',
          'beneficiaryName',
          'assignedColleague',
          'status',
        ]"
      >
        <ng-template #header>
          <th class="flex align-items-center">
            <div class="flex align-items-center">
              {{ 'case-table.case-id' | translate }}
              <p-columnFilter
                [showAddButton]="false"
                [showOperator]="false"
                type="text"
                field="id"
                display="menu"
                placeholder="{{ 'case-table.search-by-id' | translate }}"
                ariaLabel="search-by-id"
              />
            </div>
          </th>
          <th pSortableColumn="date"
            ><div class="flex align-items-center"
              >{{ 'case-table.created-on' | translate }} <p-sortIcon field="date" /></div
          ></th>
          <th>
            <div class="flex align-items-center">
              {{ 'case-table.flight-number' | translate }}
              <p-columnFilter
                [showAddButton]="false"
                [showOperator]="false"
                type="text"
                field="flightNumber"
                display="menu"
              />
            </div>
          </th>
          <th pSortableColumn="beneficiaryName">
            <div class="flex align-items-center">
              {{ 'case-table.beneficiary-name' | translate }}
              <p-sortIcon field="beneficiaryName"
            /></div>
          </th>
          <th
            ><div class="align-items-center">
              {{ 'case-table.assigned-employee' | translate }}</div
            ></th
          >
          <th
            ><div class="flex align-items-center"
              >{{ 'case-table.status' | translate }}
              <p-columnFilter
                field="status"
                matchMode="equals"
                display="menu"
                [showAddButton]="false"
                [showOperator]="false"
                [showMatchModes]="false"
                [showApplyButton]="false"
                [showClearButton]="false"
              >
                <ng-template #filter let-filter="filterCallback">
                  <p-select
                    [(ngModel)]="statusFilterValue"
                    [options]="statusOptions"
                    (onChange)="filter($event.value)"
                    (onClear)="onStatusFilterClear()"
                    [showClear]="true"
                    placeholder="{{ 'case-table.select-status' | translate }}"
                    class="w-full"
                  >
                    <ng-template let-option #item>
                      <p-tag
                        [value]="option.label"
                        [severity]="getStatusSeverity(option.value)"
                      ></p-tag>
                    </ng-template>
                  </p-select>
                </ng-template> </p-columnFilter></div
          ></th>
        </ng-template>
        <ng-template #body let-userCase>
          <tr>
            <td>
              <p-button icon="pi pi-eye" severity="contrast" [rounded]="true" [outlined]="true" />
              {{ userCase.id }}</td
            >
            <td class="text-center">{{ userCase.date }}</td>
            <td class="text-center">{{ userCase.flightNumber }}</td>
            <td class="text-center">{{ this.getBeneficiaryName(userCase) }}</td>
            <td class="text-center"
              ><b>{{ this.getEmployeeName(userCase) }}</b></td
            >
            <td class="text-center">
              <p-tag
                [value]="getStatusTranslation(userCase.status)"
                [severity]="getStatusSeverity(userCase.status)"
              />
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="7" class="text-center">
              {{ 'case-table.no-cases-found' | translate }}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-confirm-dialog
        header="{{ 'case-table.confirmation' | translate }}"
        icon="pi pi-exclamation-triangle"
      >
      </p-confirm-dialog>
    </p-card>
  </div>
</div>
