th > .flex {
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
::ng-deep .profile-page-container .table-wrapper .p-datatable-tbody > tr > td {
  text-align: center;
  max-width: 17rem;
}

::ng-deep .profile-page-container .new-case-card-content .p-button{
  --p-button-primary-background: transparent;
  --p-button-primary-border-color: transparent;
  --p-button-primary-hover-background: none;
  --p-button-primary-active-background: none;
  --p-button-primary-hover-border-color: transparent;
  --p-button-primary-active-border-color: transparent;
  color: #186bd8;
  font-size: 1rem;
}

.profile-page-container{
  padding-top: 2.2rem;
}

.information-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: 69% 30%;
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  width: 100%;

}

::ng-deep .information-container .p-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.information-card-title{
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: left;
  padding-left: 2rem;
}

.profile-picture{
  align-self: center;
  padding-left: 4.3rem;
}

.account-information{
  color: black;
  text-align: left;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  margin-top: -1rem;
  gap: 1rem;
}

.first-text-information-column{
  padding-left: 2.5rem;
}

.profile-picture-image{
  border-radius: 50%;
}

.account-information-element{
  font-size: 1.1rem;
}

::ng-deep .information-container .p-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08),
  0 6px 20px rgba(0, 0, 0, 0.06);
  background-color: white;
}

.user-information-title{
  font-weight: bold;
}

.table-wrapper{
  margin: 0 auto;
  max-width: 95%;
}

::ng-deep .table-wrapper .p-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08),
  0 6px 20px rgba(0, 0, 0, 0.06);
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.case-table-title{
  text-align: center;
  font-size: 1.9rem;
}

.new-case-card-content{
  text-align: center;
}

.new-case-card-title{
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

.button-section{
  margin-top: 2.2rem;
}


@media (max-width: 768px) {
  .profile-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information-container{
    max-width: 22rem;
    grid-template-columns: 1fr;
  }

  .account-information{
    grid-template-columns: 1fr;
    padding: 0;
    text-align: center;
  }

  .user-information-title{
    padding-top: 1rem;
    text-align: center;
  }

  .information-card-title{
    text-align: center;
    padding: 0;
  }

  .first-text-information-column{
    padding: 0;
  }
  .profile-picture{
    padding-left: 0;
  }

  .table-wrapper{
    max-width: 22rem;
    overflow-x: auto;
  }

  ::ng-deep .table-wrapper .p-card {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .profile-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information-container{
    max-width: 22rem;
    grid-template-columns: 1fr;
  }

  .account-information{
    grid-template-columns: 1fr;
    padding: 0;
    text-align: center;
  }

  .user-information-title{
    padding-top: 1rem;
    text-align: center;
  }

  .information-card-title{
    text-align: center;
    padding: 0;
  }

  .first-text-information-column{
    padding: 0;
  }
  .profile-picture{
    padding-left: 0;
  }

  .table-wrapper{
    max-width: 22rem;
    overflow-x: auto;
  }

  ::ng-deep .table-wrapper .p-card {
    width: 100%;
    margin: 0 auto;
  }
}





