<div class="main-container mt-6 ml-4 w-screw-full grid">
  <div class="col-5"></div>
  <div class="w-full h-full flex flex-column align-items-start col">
    <h1 class="text-blue-900">{{ currentHeadline }}</h1>
    <div class="pl-4">
      <h2 class="text-blue-900">Know Your Rights</h2>
      <div>
        Most passengers don’t know that they can claim up to €600 for delays, cancellations, or overbookings under EU
        and
        UK regulations.
      </div>
      <h2 class="text-blue-900">It’s Simple</h2>
      <div class="pl-3">
        <i class="pi pi-pen-to-square"> Submit your flight details.</i> <br/>
        <i class="pi pi-file-check"> We check your eligibility.</i> <br/>
        <i class="pi pi-money-bill"> You get paid - we handle the airline!</i> <br/>
      </div>
      <h2 class="text-blue-900">Why Choose Us?</h2>
      <div>
        <i class="pi pi-check-circle"> No win, no fee.</i> <br/>
        <i class="pi pi-check-circle"> Quick, hassle-free claims.</i> <br/>
        <i class="pi pi-check-circle"> Experts in flight compensation law.</i> <br/>
      </div>
    </div>
  </div>
</div>


