<div
  class="page-container h-full flex flex-column justify-content-center align-items-center mt-8 pt-8 reset-pass-form-wrapper"
>
  <h2 class="text-3xl"> {{ 'change-pass.title' | translate }} </h2>
  <form novalidate [formGroup]="changePasswordForm" class="flex flex-column gap-4 mt-6">
    <!-- Password Input -->
    <div>
      <p-floatlabel variant="on">
        <label for="newPassword">{{ 'change-pass.password-label' | translate }}</label>
        <input
          pInputText
          type="password"
          formControlName="newPassword"
          id="newPassword"
          class="w-25rem h-3rem"
        />
      </p-floatlabel>
      <div class="error-placeholder">
        @if (
          changePasswordForm.controls.newPassword.touched &&
          changePasswordForm.controls.newPassword.errors
        ) {
          @switch (true) {
            @case (changePasswordForm.controls.newPassword.hasError('required')) {
              <app-error-message text="{{ 'change-pass.password-required' | translate }}" />
            }
            @case (changePasswordForm.controls.newPassword.hasError('minlength')) {
              <app-error-message text="{{ 'change-pass.password-minlength' | translate }}" />
            }
            @case (changePasswordForm.controls.newPassword.hasError('maxlength')) {
              <app-error-message text="{{ 'change-pass.password-maxlength' | translate }}" />
            }
            @case (changePasswordForm.controls.newPassword.hasError('pattern')) {
              <app-error-message text="{{ 'change-pass.password-invalid' | translate }}" />
            }
          }
        }
      </div>
    </div>

    <!-- Confirm Password Input -->
    <div>
      <p-floatlabel variant="on">
        <label for="confirmPassword">{{ 'change-pass.confirm-label' | translate }}</label>
        <input
          pInputText
          type="password"
          formControlName="confirmPassword"
          id="confirmPassword"
          class="w-25rem h-3rem"
        />
      </p-floatlabel>
      <div class="error-placeholder">
        @if (changePasswordForm.controls.confirmPassword.touched) {
          @switch (true) {
            @case (changePasswordForm.controls.confirmPassword.hasError('required')) {
              <app-error-message text="{{ 'change-pass.confirm-required' | translate }}" />
            }
            @case (
              changePasswordForm.controls.newPassword.touched &&
              changePasswordForm.hasError('passwordMismatch')
            ) {
              <app-error-message text="{{ 'change-pass.password-mismatch' | translate }}" />
            }
          }
        }
      </div>
    </div>

    <!-- Submit Button -->
    <div>
      <p-button
        label="{{ 'change-pass.submit-button' | translate }}"
        type="submit"
        [disabled]="changePasswordForm.invalid"
        (click)="onFormSubmit()"
        class="w-25rem h-3rem"
        size="large"
      ></p-button>
    </div>
  </form>
</div>
