<div
  class="page-container h-full flex flex-column justify-content-center align-items-center mt-4 pt-8 reset-pass-form-wrapper"
>
  <p-card
    ><h2 class="text-3xl"> {{ 'change-pass.title' | translate }} </h2>
    <form
      novalidate
      [formGroup]="changePasswordForm"
      class="flex flex-column gap-4 mt-6 justify-content-center align-items-center"
    >
      <!-- Password Input -->
      <div style="width: 400px">
        <p-floatlabel variant="on">
          <label for="newPassword">{{ 'change-pass.password-label' | translate }}</label>
          <input
            pInputText
            type="password"
            formControlName="newPassword"
            id="newPassword"
            class="w-25rem h-3rem"
          />
        </p-floatlabel>
        <div class="error-placeholder">
          @if (
            changePasswordForm.controls.newPassword.touched &&
            changePasswordForm.controls.newPassword.errors
          ) {
            @switch (true) {
              @case (changePasswordForm.controls.newPassword.hasError('required')) {
                <app-error-message text="{{ 'change-pass.password-required' | translate }}" />
              }
              @case (changePasswordForm.controls.newPassword.hasError('minlength')) {
                <app-error-message text="{{ 'change-pass.password-minlength' | translate }}" />
              }
              @case (changePasswordForm.controls.newPassword.hasError('maxlength')) {
                <app-error-message text="{{ 'change-pass.password-maxlength' | translate }}" />
              }
              @case (changePasswordForm.controls.newPassword.hasError('pattern')) {
                <app-error-message text="{{ 'change-pass.password-invalid' | translate }}" />
              }
            }
          }
        </div>
      </div>

      <!-- Confirm Password Input -->
      <div style="width: 400px">
        <p-floatlabel variant="on">
          <label for="confirmPassword">{{ 'change-pass.confirm-label' | translate }}</label>
          <input
            pInputText
            type="password"
            formControlName="confirmPassword"
            id="confirmPassword"
            class="w-25rem h-3rem"
          />
        </p-floatlabel>
        <div class="error-placeholder">
          @if (changePasswordForm.controls.confirmPassword.touched) {
            @switch (true) {
              @case (changePasswordForm.controls.confirmPassword.hasError('required')) {
                <app-error-message text="{{ 'change-pass.confirm-required' | translate }}" />
              }
              @case (
                changePasswordForm.controls.newPassword.touched &&
                changePasswordForm.hasError('passwordMismatch')
              ) {
                <app-error-message text="{{ 'change-pass.password-mismatch' | translate }}" />
              }
            }
          }
        </div>
      </div>

      <div style="width: 400px">
        <p-panel header="{{ 'change-pass.panel-header' | translate }}">
          <p class="m-0 text-left text-red" [class.text-green]="hasNewPasswordPatternError()">
            <i
              class="pi pi-times mr-1"
              [class.pi-times]="!hasNewPasswordPatternError()"
              [class.pi-check]="hasNewPasswordPatternError()"
            ></i>
            {{ 'change-pass.password-invalid-reset' | translate }}
          </p>
          <p class="m-0 text-left text-red" [class.text-green]="hasNewPasswordGoodLength()">
            <i
              class="pi pi-times mr-1"
              [class.pi-times]="!hasNewPasswordGoodLength()"
              [class.pi-check]="hasNewPasswordGoodLength()"
            ></i>
            {{ 'change-pass.password-length' | translate }}
          </p>
        </p-panel>
      </div>

      <!-- Submit Button -->
      <div>
        <p-button
          label="{{ 'change-pass.submit-button' | translate }}"
          type="submit"
          [disabled]="changePasswordForm.invalid"
          (onClick)="onFormSubmit()"
          class="w-25rem h-3rem"
          size="large"
        ></p-button>
      </div> </form
  ></p-card>
</div>
