<main>
  <p-stepper [value]="currentStep" [linear]="true" class="text-pink-500">
    <p-step-list>
      <!-- Step indicators -->
      <p-step [value]="1">Reservation Info</p-step>
      <p-step [value]="2">Flight Details</p-step>
      <p-step [value]="3">Connection Flights</p-step>
    </p-step-list>
    <p-step-panels>
      <!-- Step 1: Reservation Info -->
      <p-step-panel [value]="1">
        <ng-template pTemplate="content" let-nextCallback="nextCallback">
          <form
            [formGroup]="reservationForm"
            (ngSubmit)="onNext(nextCallback)"
            class="flex flex-column gap-4 justify-content-center align-items-center"
          >
            <p-header class="text-3xl">Reservation Info</p-header>

            <div>
              <p-floatlabel variant="on">
                <input
                  pInputText
                  id="reservationNumber"
                  formControlName="reservationNumber"
                  class="w-25rem h-3rem inputclass"
                  style="--p-inputtext-color: var(--primary-color)"
                />
                <label for="reservationNumber">Reservation Number</label>
              </p-floatlabel>
              <!-- Error Messages -->
              <div class="error-placeholder">
                @if (
                  reservationForm.controls.reservationNumber.touched &&
                  reservationForm.controls.reservationNumber.errors
                ) {
                  <!-- In case there is an error, it will display the first one that has value true-->
                  @switch (true) {
                    @case (reservationForm.controls.reservationNumber.hasError('required')) {
                      <app-error-message text="Reservation number is required." />
                    }
                    @case (
                      reservationForm.controls.reservationNumber.hasError('minlength') ||
                      reservationForm.controls.reservationNumber.hasError('maxlength')
                    ) {
                      <app-error-message text="Reservation Number must be exactly 6 characters." />
                    }
                  }
                }
              </div>
            </div>

            <div>
              <p-floatlabel variant="on">
                <p-autocomplete
                  [styleClass]="'w-25rem h-3rem cssclass'"
                  id="departingAirport"
                  formControlName="departingAirport"
                  field="name"
                  [dropdown]="true"
                />
                <label for="departingAirport">Departing Airport</label>
              </p-floatlabel>
              <!-- Error Messages -->
              <div class="error-placeholder">
                @if (
                  reservationForm.controls.departingAirport.touched &&
                  reservationForm.controls.departingAirport.errors
                ) {
                  <!-- In case there is an error, it will display the first one that has value true-->
                  @switch (true) {
                    @case (reservationForm.controls.departingAirport.hasError('required')) {
                      <app-error-message text="Departing Airport is required." />
                    }
                    @case (
                      reservationForm.controls.departingAirport.hasError('minlength') ||
                      reservationForm.controls.departingAirport.hasError('maxlength')
                    ) {
                      <app-error-message text="Departing Airport must be exactly 3 characters." />
                    }
                  }
                }
              </div>
            </div>

            <div>
              <p-floatlabel variant="on">
                <p-autocomplete
                  id="destinationAirport"
                  formControlName="destinationAirport"
                  field="name"
                  [dropdown]="true"
                  [styleClass]="'w-25rem h-3rem cssclass'"
                />
                <label for="destinationAirport">Destination Airport</label>
              </p-floatlabel>
              <!-- Error Messages -->
              <div class="error-placeholder">
                @if (
                  reservationForm.controls.destinationAirport.touched &&
                  reservationForm.controls.destinationAirport.errors
                ) {
                  <!-- In case there is an error, it will display the first one that has value true-->
                  @switch (true) {
                    @case (reservationForm.controls.destinationAirport.hasError('required')) {
                      <app-error-message text="Destination airport is required." />
                    }
                    @case (
                      reservationForm.controls.destinationAirport.hasError('minlength') ||
                      reservationForm.controls.destinationAirport.hasError('maxlength')
                    ) {
                      <app-error-message text="Destination must be exactly 3 characters." />
                    }
                  }
                }
              </div>
            </div>

            <!-- Next Button -->
            <p-button
              [styleClass]="'px-6 h-2.5rem'"
              label="Next"
              severity="primary"
              (onClick)="onNext(nextCallback)"
              [disabled]="reservationForm.invalid"
            />
          </form>
        </ng-template>
      </p-step-panel>

      <!-- Step 2: Flight Details -->
      <p-step-panel [value]="2">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <div class="grid">
            <!-- Main Flight Form -->
            <app-case-form
              title="Flight Details"
              #mainFlightForm
              [initialData]="flightData"
              class="ml-8 col"
            >
            </app-case-form>

            <!-- Connection Flights -->
            <div class="mr-8 col">
              <div class="flex flex-row justify-content-center align-items-center">
                <p-header class="text-3xl">Connection Flights</p-header>
                <div class="ml-4">
                  <p-button
                    icon="pi pi-plus"
                    (onClick)="addConnectionFlight()"
                    [styleClass]="'px-1'"
                    [disabled]="airports.length === MAXIMUM_CONNECTIONS"
                  ></p-button>
                </div>
              </div>

              <div class="flex flex-column mt-4">
                <p-message
                  variant="outlined"
                  severity="primary"
                  class="w-12rem align-self-center mb-2"
                  >Departing Airport: {{ reservationInformation?.departingAirport }}</p-message
                >

                @if (airports.length > 0) {
                  <div class="align-self-center">
                    @for (item of airports; track $index) {
                      @if (item !== null) {
                        <div class="mb-2">
                          <p-floatlabel variant="on">
                            <p-autocomplete
                              [dropdown]="true"
                              class="w-15rem h-2rem inputclass"
                              id="connectionFlight{{ $index }}"
                              [(ngModel)]="airports[$index]"
                            />
                            <label for="connectionFlight{{ $index }}">Connection</label>
                          </p-floatlabel>
                        </div>
                      }
                    }
                  </div>
                }

                <p-message variant="outlined" severity="primary" class="align-self-center w-12rem"
                  >Destination Airport: {{ reservationInformation?.destinationAirport }}</p-message
                >
              </div>
            </div>
          </div>

          <!-- Next and back buttons -->
          <div class="justify-content-between flex flex-row gap-2">
            <p-button
              label="Back"
              severity="secondary"
              (onClick)="onPrevious(prevCallback)"
              [styleClass]="'px-6 h-2.5rem'"
            />
            <p-button
              label="Next"
              severity="primary"
              [disabled]=""
              [styleClass]="'px-6 h-2.5rem'"
            />
          </div>
        </ng-template>
      </p-step-panel>

      <!-- Step 3: Connection Flights -->
      <p-step-panel [value]="3">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</main>
