::ng-deep {
  .p-button {
    --p-button-primary-background: #1a3547;
    --p-button-primary-border-color: #0078bd;
    --p-button-primary-hover-background: #0078bd;
  }

  .p-stepper {
    --p-stepper-step-title-color: #1a3547;
    --p-stepper-step-title-active-color: #0078bd;
    --p-stepper-step-number-active-color: #0078bd;
    --p-stepper-separator-background-color: #1a3547;
    --p-stepper-step-number-border-color: #1a3547;
    --p-stepper-step-number-active-border-color: #0078bd;
    --p-stepper-separator-active-background: #0078bd;
  }

  .p-inputtext {
    --p-inputtext-border-color: #1a3547;
    --p-inputtext-color: #1a3547;
    --p-inputtext-focus-border-color: #1a3547;
  }

  .p-floatlabel {
    --p-floatlabel-active-color: #1a3547;
    --p-floatlabel-focus-color: #1a3547;
    --p-floatlabel-color: #1a3547;
  }

  .p-autocomplete {
    --p-autocomplete-dropdown-border-color: #1a3547;
    --p-autocomplete-dropdown-hover-border-color: #1a3547;
    --p-autocomplete-dropdown-active-border-color: #1a3547;
  }
}
