<div
  class="home-page-wrapper grid grid-nogutter min-h-screen p-2 sm:p-3 md:p-4 lg:p-6 m-2 sm:m-3 md:m-4 lg:m-6"
>
  <div class="col-12 md:col-7 flex flex-column justify-content-center">
    <h1 class="text-blue-900 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold mb-4">
      {{ 'homepage.question' | translate }}
    </h1>

    <div>
      <p class="mb-4 line-height-3 text-base sm:text-lg md:text-lg w-10">
        {{ 'homepage.claim-info' | translate }}
      </p>

      <div class="flex justify-content-center mb-4">
        <p-button
          label="{{ 'homepage.button-check-flight' | translate }}"
          [rounded]="true"
          severity="success"
          size="large"
          routerLink="/form"
        ></p-button>
      </div>

      <div class="grid">
        <div class="col justify-content-between">
          <h2 class="text-blue-900 text-xl sm:text-2xl md:text-3xl font-semibold mb-2"
            >{{ 'homepage.simple.title' | translate }}
          </h2>
          <div class="pl-4 mb-4 line-height-3 text-base sm:text-lg md:text-lg">
            <i class="pi pi-pen-to-square mr-2"></i>
            {{ 'homepage.simple.submit-details' | translate }} <br />
            <i class="pi pi-file-check mr-2"></i>
            {{ 'homepage.simple.check-eligibility' | translate }} <br />
            <i class="pi pi-money-bill mr-2"></i> {{ 'homepage.simple.get-paid' | translate }}
            <br />
          </div>
        </div>
        <div class="col justify-content-between">
          <h2 class="text-blue-900 text-xl sm:text-2xl md:text-3xl font-semibold mb-2"
            >{{ 'homepage.why.title' | translate }}
          </h2>
          <div class="pl-4 mb-4 line-height-3 text-base sm:text-lg md:text-lg">
            <i class="pi pi-check-circle mr-2"></i> {{ 'homepage.why.point1' | translate }} <br />
            <i class="pi pi-check-circle mr-2"></i> {{ 'homepage.why.point2' | translate }} <br />
            <i class="pi pi-check-circle mr-2"></i> {{ 'homepage.why.point3' | translate }} <br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-5 flex align-items-center justify-content-center mb-4 md:mb-0">
    <img [src]="'flight_delayed.svg'" alt="Flight Delayed" class="w-full md:w-12 lg:w-16 h-auto" />
  </div>

  <div class="info-cards grid grid-nogutter mt-8 w-full">
    <p-fieldset [legend]="'homepage.fieldsets.rights.title' | translate" class="col-12 lg:col">
      <div class="m-0 p-2 text-base text-justify line-height-3">
        {{ 'homepage.fieldsets.rights.text' | translate }}

        <p class="mt-4">{{ 'homepage.fieldsets.rights.goal' | translate }} </p>
      </div>
    </p-fieldset>
    <p-fieldset
      legend="{{ 'homepage.fieldsets.when.title' | translate }}"
      class="col-12 lg:col mt-2 lg:mt-0 lg:ml-4"
    >
      <div class="m-0 p-2 text-base text-justify line-height-3">
        <i class="pi pi-face-smile mr-2"></i> {{ 'homepage.fieldsets.when.point1' | translate }}
        <br />
        <i class="pi pi-face-smile mr-2"></i> {{ 'homepage.fieldsets.when.point2' | translate }}
        <br />
        <i class="pi pi-face-smile mr-2"></i> {{ 'homepage.fieldsets.when.point3' | translate }}
        <br />
        <p class="mt-4">
          {{ 'homepage.fieldsets.when.note' | translate }}
        </p>
      </div>
    </p-fieldset>
    <p-fieldset
      legend="{{ 'homepage.fieldsets.compensation.title' | translate }}"
      class="col-12 lg:col mt-2 lg:mt-0 lg:ml-4"
    >
      <div class="m-0 p-2 text-base text-justify line-height-3">
        {{ 'homepage.fieldsets.compensation.condition' | translate }}

        <table class="w-full border-collapse mt-2 text-center">
          <thead>
            <tr class="bg-gray-100">
              <th class="p-2 border">
                {{ 'homepage.fieldsets.compensation.distance' | translate }}
              </th>
              <th class="p-2 border">
                {{ 'homepage.fieldsets.compensation.amount' | translate }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p-2 border">&lt; 1500 km</td>
              <td class="p-2 border">€250</td>
            </tr>
            <tr>
              <td class="p-2 border">1500–3500 km</td>
              <td class="p-2 border">€400</td>
            </tr>
            <tr>
              <td class="p-2 border">&gt; 3500 km</td>
              <td class="p-2 border">€600</td>
            </tr>
          </tbody>
        </table>
      </div>
    </p-fieldset>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
