.background {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

::ng-deep {
  .home-page-wrapper {
    .p-fieldset-legend {
      color: #0c2c70;
      background-color: transparent;
      font-size: 1.6rem;
      text-align: center;
      display: block;
      white-space: pre-line;
    }

    .p-fieldset {
      background-color: transparent;
      border-color: powderblue;
      transition: all 0.3s ease;
      height: 100%;
    }

    .p-button {
      background-color: #a6eb55;
      border-color: #a6eb55;
      --p-button-label-font-weight: bold;
    }

    .p-button:hover {
      background-color: #6d991d;
      border-color: #6d991d;
      color: white !important;
    }

    .p-fieldset:hover {
      border-color: #0c2c70;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }
}
