.wrapper {
  background-color: #f5f7fa;
  height: 100vh;
  overflow: hidden;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.comment {
  word-break: break-word;
  white-space: pre-line;
}

.user {
  background-color: #90ee90;
}
