<div class="wrapper">
  @if (!loading && caseData) {
    <div class="case-details-container min-h-full">
      <div class="column mt-8">
        <p-card [styleClass]="'m-auto'">
          <h1>{{ 'case-details.title' | translate }}</h1>
          <p
            ><label><strong>Status: </strong></label>{{ getStatusTranslation(caseData.status) }}</p
          >
          <p
            ><label
              ><strong>{{ 'case-details.date' | translate }}: </strong></label
            >{{ caseData.date | date: 'mediumDate' }}</p
          >
          <p
            ><label
              ><strong>{{ 'case-details.assigned-employee' | translate }}: </strong></label
            >{{ extractEmployeeName(caseData) }}</p
          >
          <p
            ><label
              ><strong>{{ 'case-details.disruption-reason' | translate }}: </strong></label
            >{{ caseData.disruptionReason }}</p
          >
          <p
            ><label
              ><strong>{{ 'case-details.disruption-info' | translate }}: </strong></label
            >{{ caseData.disruptionInfo }}</p
          >
          <h2>{{ 'case-details.reservation-details' | translate }}</h2>
          <p
            ><label
              ><strong>{{ 'case-details.reservation' | translate }}: </strong></label
            >{{ caseData.reservation.reservationNumber }}</p
          >
          <span class="flex align-items-center">
            <p>
              <label>
                <strong>{{ 'case-details.route' | translate }}: &nbsp;</strong>
              </label>
            </p>
            @for (flight of caseData.reservation.flights; track $index) {
              @if ($index > 0 && caseData.reservation.flights[$index - 1].problematic) {
                <p-tag [value]="flight.departingAirport" [severity]="'danger'"></p-tag>
                <i class="pi pi-arrow-right normal-arrow"></i>
              } @else {
                <p-tag
                  [value]="flight.departingAirport"
                  [severity]="flight.problematic ? 'danger' : 'info'"
                ></p-tag>
                <i
                  class="pi pi-arrow-right normal-arrow"
                  [class.problematic-arrow]="flight.problematic"
                ></i>
              }
              @if ($last) {
                <p-tag
                  [value]="flight.destinationAirport"
                  [severity]="flight.problematic ? 'danger' : 'info'"
                ></p-tag>
              }
            }
          </span>
          <div>
            <div>
              <h2>{{ 'case-details.documents' | translate }}</h2>
              <div class="flex align-items-center gap-2">
                <p-fileupload
                  #fileInput
                  mode="basic"
                  chooseIcon="pi pi-upload"
                  maxFileSize="5000000"
                  [styleClass]="'flex flex-column-reverse align-items-start w-10rem'"
                  [customUpload]="true"
                  (uploadHandler)="uploadDocument($event)"
                  [accept]="'.pdf,.jpg,.png'"
                  [invalidFileSizeMessageSummary]="'case-details.invalid-file-size' | translate"
                  [invalidFileSizeMessageDetail]="'case-details.max-file-size' | translate"
                  [invalidFileTypeMessageSummary]="'case-details.invalid-file-type' | translate"
                >
                  <ng-template pTemplate="filelabel">YAY! Empty state works!</ng-template>
                </p-fileupload>
                <p-button (onClick)="handleUpload()">{{
                  'case-details.upload' | translate
                }}</p-button>
              </div>
            </div>

            <div class="flex flex-column gap-2 mt-3 document-list">
              @if (caseData.documentList) {
                @for (document of caseData.documentList; track $index) {
                  <p-button
                    [label]="document.name"
                    [icon]="'pi pi-file'"
                    link
                    (onClick)="downloadDocument(document.id!)"
                  />
                }
              } @else {
                <p>{{ 'case-details.no-documents' | translate }}</p>
              }
            </div>
          </div>
        </p-card>
      </div>

      <div class="column">
        <div>
          <h2>{{ 'case-details.actions' | translate }}</h2>
        </div>
        <div>
          <div style="width: 370px">
            <p-card
              header="{{ 'case-details.chat.comments' | translate }}"
              class="w-full"
              [styleClass]="'text-center'"
            >
              @if (loadingComments) {
                <p-progress-spinner />
              } @else {
                <div
                  class="chat-messages"
                  style="max-height: 300px; overflow-y: auto; max-width: 350px"
                >
                  @for (comment of comments; track comment.id) {
                    @if (comment.userId === currentUserId) {
                      <p-card class="chat-message text-right" [styleClass]="'mb-2 bg-green-100'">
                        <strong>{{ comment.username }}</strong>
                        <span class="ml-2 text-xs text-muted">{{
                          comment.timestamp | date: 'short'
                        }}</span>
                        <div style="word-break: break-word; white-space: pre-line">{{
                          comment.text
                        }}</div>
                      </p-card>
                    } @else {
                      <p-card class="chat-message text-left" [styleClass]="'mb-2 bg-gray-100'">
                        <strong>{{ comment.username }}</strong>
                        <span class="ml-2 text-xs text-muted">{{
                          comment.timestamp | date: 'short'
                        }}</span>
                        <div style="word-break: break-word; white-space: pre-line">{{
                          comment.text
                        }}</div>
                      </p-card>
                    }
                  }
                </div>
                <div class="chat-input mt-2 flex flex-row gap-2">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="newCommentText"
                    placeholder="{{ 'case-details.chat.type-message' | translate }}"
                    class="p-inputtext flex-grow-1"
                    [disabled]="postingComment"
                  />
                  <p-button
                    label="{{ 'case-details.chat.send' | translate }}"
                    (click)="postComment(currentUserId!)"
                    [disabled]="postingComment || !newCommentText.trim() || !currentUserId"
                    icon="pi pi-send"
                    class="p-button-sm"
                  ></p-button>
                </div>
              }
              <p-message variant="simple" severity="success">{{
                'case-details.chat.message-length' | translate
              }}</p-message>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="loading-container">
      <p-progress-spinner />
    </div>
  }
</div>
