.wrapper {
  background-color: #f5f7fa;
  height: 99vh;
}

.case-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

::ng-deep .p-fileupload {
  width: 30rem;
}

.chatbox .p-card {
  --p-card-shadow: none;
}

.problematic-arrow {
  color: red !important;
}

.document-list {
  max-height: 7rem;
  overflow-y: auto;
}

.normal-arrow {
  color: blue;
}

.route-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.column {
  padding: 8px;
  border-radius: 8px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.comment {
  word-break: break-word;
  white-space: pre-line;
}

.user {
  background-color: #90ee90;
}

::ng-deep .custom-button {
  .p-button {
    background-color: #a6eb55;
    border-color: #a6eb55;
    color: #0c2c70;
    --p-button-label-font-weight: bold;
  }

  .p-button:hover {
    background-color: #6d991d;
    border-color: #6d991d;
    color: white !important;
  }
}
