<div class="wrapper">
  @if (!loading && caseData) {
    <div class="case-details-container">
      <div class="column details mb-2">
        <div class="mb-2 white-space-normal case-details">
          <p-card [styleClass]="'m-auto'">
            <h2 class="text-center mt-2">{{ 'case-details.title' | translate }}</h2>
            <p
              ><label><strong>Status: </strong></label>
              @if (caseData.status) {
                <p-tag
                  [value]="getStatusTranslation(caseData.status)"
                  [severity]="getStatusSeverity(caseData.status)"
                ></p-tag>
              }
            </p>
            <p
              ><label
                ><strong>{{ 'case-details.date' | translate }}: </strong></label
              >{{ caseData.date | date: 'mediumDate' }}</p
            >
            <p
              ><label
                ><strong>{{ 'case-details.assigned-employee' | translate }}: </strong></label
              >{{ extractEmployeeName(caseData) }}</p
            >
            <p
              ><label
                ><strong>{{ 'case-details.created-by' | translate }}: </strong></label
              >{{ caseData.client.firstName }} {{ caseData.client.lastName }}</p
            >
            @if (caseData.beneficiary) {
              <p
                ><label
                  ><strong>{{ 'case-details.beneficiary' | translate }}: </strong></label
                >{{ caseData.beneficiary.firstName }} {{ caseData.beneficiary.lastName }}</p
              >
            }
            <p
              ><label
                ><strong>{{ 'case-details.disruption-reason' | translate }}: </strong></label
              >{{ getDisruptionTranslation(caseData.disruptionReason) | translate }}</p
            >
            <p
              ><label
                ><strong>{{ 'case-details.disruption-info' | translate }}: </strong></label
              ><p-button (onClick)="showDialog()" [label]="'case-details.read' | translate" />
              <p-dialog
                [header]="'case-details.disruption-info' | translate"
                [modal]="true"
                [maximizable]="true"
                [(visible)]="visible"
              >
                <p>
                  {{ caseData.disruptionInfo }}
                </p>
              </p-dialog></p
            >
            <p class="mb-0"
              ><label
                ><strong>{{ 'case-details.reservation' | translate }}: </strong></label
              >{{ caseData.reservation.reservationNumber }}</p
            >
            <span class="flex align-items-center">
              <p>
                <label>
                  <strong>{{ 'case-details.route' | translate }}: &nbsp;</strong>
                </label>
              </p>
              @for (flight of caseData.reservation.flights; track $index) {
                @if ($index > 0 && caseData.reservation.flights[$index - 1].problematic) {
                  <p-tag [value]="flight.departingAirport" [severity]="'danger'"></p-tag>
                  <i class="pi pi-arrow-right normal-arrow"></i>
                } @else {
                  <p-tag
                    [value]="flight.departingAirport"
                    [severity]="flight.problematic ? 'danger' : 'info'"
                  ></p-tag>
                  <i
                    class="pi pi-arrow-right normal-arrow"
                    [class.problematic-arrow]="flight.problematic"
                  ></i>
                }
                @if ($last) {
                  <p-tag
                    [value]="flight.destinationAirport"
                    [severity]="flight.problematic ? 'danger' : 'info'"
                  ></p-tag>
                }
              }
            </span>
          </p-card>
        </div>
        <div class="documents">
          <p-card>
            <div>
              <h2 class="text-center mt-2">{{ 'case-details.documents' | translate }}</h2>
              <!--<div class="flex align-items-start gap-2 flex-grow-1">-->
              <p-fileupload
                #fileInput
                mode="advanced"
                chooseIcon="pi pi-upload"
                maxFileSize="5000000"
                [customUpload]="true"
                (uploadHandler)="uploadDocument($event)"
                [accept]="'.pdf,.jpg,.png'"
                [invalidFileSizeMessageSummary]="'case-details.invalid-file-size' | translate"
                [invalidFileSizeMessageDetail]="'case-details.max-file-size' | translate"
                [invalidFileTypeMessageSummary]="'case-details.invalid-file-type' | translate"
                [styleClass]="'w-full'"
              >
                <ng-template #empty pTemplate="filelabel">{{
                  'case-details.select-file' | translate
                }}</ng-template>
              </p-fileupload>
              <!--</div>-->
            </div>

            <div class="flex flex-column gap-2 mt-3 document-list">
              @if (caseData.documentList) {
                @for (document of caseData.documentList; track $index) {
                  <p-button
                    [label]="document.name"
                    [icon]="'pi pi-file'"
                    link
                    (onClick)="downloadDocument(document.id!)"
                  />
                }
              } @else {
                <p>{{ 'case-details.no-documents' | translate }}</p>
              }
            </div>
          </p-card>
        </div>
      </div>

      <div class="column">
        <div *showIfRole="['ADMIN', 'EMPLOYEE']" class="mb-2 actions">
          <p-card
            ><h2 class="text-center mt-2">{{ 'case-details.actions.title' | translate }}</h2>
            <div>
              <div class="flex align-items-center">
                <p class="my-0 mr-3">{{ 'case-details.actions.update-status' | translate }}</p>
                <p-select
                  [(ngModel)]="selectedStatus"
                  [options]="statusOptions"
                  (onClear)="onStatusClear()"
                  [showClear]="true"
                  placeholder="{{ 'case-details.actions.select-status' | translate }}"
                  class="w-20rem"
                >
                  <ng-template let-option #item>
                    <p-tag
                      [value]="option.label"
                      [severity]="getStatusSeverity(option.value)"
                    ></p-tag>
                  </ng-template>
                </p-select>
                <p-button
                  label="{{ 'case-details.actions.update' | translate }}"
                  (onClick)="updateCaseStatus()"
                  [disabled]="!selectedStatus"
                  icon="pi pi-check"
                  class="p-button-sm ml-2 py-0"
                />
              </div>
              <div class="flex align-items-center pt-2">
                <p class="my-0 mr-3">{{ 'case-details.actions.assign-employee' | translate }}</p>
                <p-select
                  [(ngModel)]="selectedEmployee"
                  [options]="employees"
                  (onClear)="onEmployeeClear()"
                  [showClear]="true"
                  optionLabel="label"
                  optionValue="value"
                  placeholder="{{ 'case-details.actions.select-employee' | translate }}"
                  class="w-20rem"
                >
                  <ng-template #empty>
                    <span>{{ 'case-details.actions.no-employees' | translate }}</span>
                  </ng-template>
                </p-select>
                <p-button
                  label="{{ 'case-details.actions.update' | translate }}"
                  (onClick)="updateAssignedEmployee()"
                  [disabled]="!selectedEmployee"
                  icon="pi pi-check"
                  class="p-button-sm ml-2 py-0"
                />
              </div>
            </div>
          </p-card>
        </div>
        <div>
          <p-card [styleClass]="'text-center'">
            <h2 class="text-center mt-2">{{ 'case-details.chat.comments' | translate }}</h2>
            @if (loadingComments) {
              <p-progress-spinner />
            } @else {
              <div class="chat-messages" style="max-height: 418px; overflow-y: auto">
                @for (comment of comments; track comment.id) {
                  @if (comment.userId === currentUserId) {
                    <p-card class="chat-message text-right" [styleClass]="'mb-2 bg-green-100'">
                      <strong>{{ comment.username }}</strong>
                      <span class="ml-2 text-xs text-muted">{{
                        comment.timestamp | date: 'short'
                      }}</span>
                      <div style="word-break: break-word; white-space: pre-line">{{
                        comment.text
                      }}</div>
                    </p-card>
                  } @else {
                    <p-card class="chat-message text-left" [styleClass]="'mb-2 bg-gray-100'">
                      <strong>{{ comment.username }}</strong>
                      <span class="ml-2 text-xs text-muted">{{
                        comment.timestamp | date: 'short'
                      }}</span>
                      <div style="word-break: break-word; white-space: pre-line">{{
                        comment.text
                      }}</div>
                    </p-card>
                  }
                }
              </div>
              <div class="chat-input mt-2 flex flex-row gap-2">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="newCommentText"
                  placeholder="{{ 'case-details.chat.type-message' | translate }}"
                  class="p-inputtext flex-grow-1"
                  [disabled]="postingComment"
                />
                <p-button
                  label="{{ 'case-details.chat.send' | translate }}"
                  (click)="postComment(currentUserId!)"
                  [disabled]="
                    postingComment ||
                    !newCommentText.trim() ||
                    !currentUserId ||
                    newCommentText.length > 1000
                  "
                  icon="pi pi-send"
                  class="p-button-sm"
                ></p-button>
              </div>
            }
            <p-message variant="simple" severity="success">{{
              'case-details.chat.message-length' | translate
            }}</p-message>
          </p-card>
        </div>
      </div>
    </div>
  } @else {
    <div class="loading-container">
      <p-progress-spinner />
    </div>
  }
</div>
