.error-placeholder {
  height: 2px;
  display: flex;
  align-items: flex-start;
}

.user-registration-container {
  text-align: center;
}

.accept-terms-label {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.doc-link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0.25rem;
}
.doc-link:hover {
  color: #0056b3;
}

::ng-deep {
  .user-registration-container {
    .p-scrollpanel {
      width: 30rem;
      height: 26rem;
      scrollbar-gutter: stable;
    }

    @media(max-width: 700px) {
      .p-scrollpanel {
        width: 22rem;
      }
    }
  }
}
