::ng-deep {
  .add-container {
    .p-button {
      background-color: #a6eb55;
      border-color: #a6eb55;
      --p-button-label-font-weight: bold;
    }

    .p-button:hover {
      background-color: #6d991d;
      border-color: #6d991d;
      color: white !important;
    }
  }
}

::ng-deep .admin-table-container .p-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08),
  0 6px 20px rgba(0, 0, 0, 0.06);
  background-color: white;
}

.case-table-title{
  font-size: 1.8rem;
  font-weight: bold;
}


