<div class="disruptionForm">
  <form novalidate [formGroup]="disruptionForm">
    <div>
      <p-select
        [options]="DISRUPTIONS"
        formControlName="disruptionType"
        placeholder="Select a disruption type"
      ></p-select>
      <div class="error-placeholder">
        @if (
          this.disruptionForm.controls.disruptionType.hasError('required') &&
          this.disruptionForm.controls.disruptionType.touched
        ) {
          <app-error-message text="A disruption type is required." />
        }
      </div>
      <div>
        @if (this.disruptionForm.controls.disruptionType.value === 'Cancellation') {
          <p-message severity="secondary" variant="simple"
            >How many days before cancellation has the airline informed you?</p-message
          >
          <div>
            <p-radio-button
              value=">14 days"
              inputId="cancellation-answer1"
              formControlName="cancellationAnswer"
            ></p-radio-button>
            <label for="cancellation-answer1">>14 days</label>
          </div>
          <div>
            <p-radio-button
              value="<14 days"
              inputId="cancellation-answer2"
              formControlName="cancellationAnswer"
            ></p-radio-button>
            <label for="cancellation-answer2"><14 days</label>
          </div>
          <div>
            <p-radio-button
              value="On flight day"
              inputId="cancellation-answer3"
              formControlName="cancellationAnswer"
            ></p-radio-button>
            <label for="cancellation-answer3">On flight day</label>
          </div>
        } @else if (this.disruptionForm.controls.disruptionType.value === 'Delay') {
          <p-message severity="secondary" variant="simple"
            >How late did you arrive to the destination?</p-message
          >
          <div>
            <p-radio-button
              value=">3 hours"
              inputId="delay-answer1"
              formControlName="delayAnswer"
            ></p-radio-button>
            <label for="delay-answer1">>3 hours</label>
          </div>
          <div>
            <p-radio-button
              value="<3 hours"
              inputId="delay-answer2"
              formControlName="delayAnswer"
            ></p-radio-button>
            <label for="delay-answer2"><3 hours</label>
          </div>
          <div>
            <p-radio-button
              value="connection flight lost"
              inputId="delay-answer3"
              formControlName="delayAnswer"
            ></p-radio-button>
            <label for="delay-answer3">connection flight lost</label>
          </div>
        } @else if (this.disruptionForm.controls.disruptionType.value === 'Denied Boarding') {
          <p-message severity="secondary" variant="simple"
            >Did you give up your seat voluntarily?</p-message
          >
          <div>
            <p-radio-button
              value="No"
              inputId="denied-boarding-answer1"
              formControlName="deniedBoardingAnswer"
            ></p-radio-button>
            <label for="denied-boarding-answer1">No</label>
          </div>

          <div>
            <p-radio-button
              value="Yes"
              inputId="denied-boarding-answer2"
              formControlName="deniedBoardingAnswer"
            ></p-radio-button>
            <label for="denied-boarding-answer2">Yes</label>
          </div>

          @if (this.disruptionForm.controls.deniedBoardingAnswer.value === 'No') {
            <p-message severity="secondary" variant="simple"
              >Reasons behind denial of boarding:</p-message
            >
            <div>
              <p-radio-button
                value="Flight overbooked"
                inputId="follow-up-answer-denied1"
                formControlName="deniedBoardingFollowUpAnswer"
              ></p-radio-button>
              <label for="follow-up-answer-denied1">Flight overbooked</label>
            </div>

            <div>
              <p-radio-button
                value="Aggressive behaviour with staff"
                inputId="follow-up-answer-denied2"
                formControlName="deniedBoardingFollowUpAnswer"
              ></p-radio-button>
              <label for="follow-up-answer-denied2">Aggressive behaviour with staff</label>
            </div>

            <div>
              <p-radio-button
                value="Intoxication"
                inputId="follow-up-answer-denied3"
                formControlName="deniedBoardingFollowUpAnswer"
              ></p-radio-button>
              <label for="follow-up-answer-denied3">Intoxication</label>
            </div>

            <div>
              <p-radio-button
                value="Unspecified reason"
                inputId="follow-up-answer-denied4"
                formControlName="deniedBoardingFollowUpAnswer"
              ></p-radio-button>
              <label for="follow-up-answer-denied4">Unspecified reason</label>
            </div>
          }
        }
      </div>
      <div>
        @if (
          this.disruptionForm.controls.disruptionType.value !== 'Denied Boarding' &&
          this.disruptionForm.controls.disruptionType.valid
        ) {
          <p-message severity="secondary" variant="simple"
            >Did the airline mention disruption motive?</p-message
          >
          <div>
            <p-radio-button
              value="Yes"
              inputId="airline-motive-answer1"
              formControlName="airlineMotiveAnswer"
            ></p-radio-button>
            <label for="airline-motive-answer1">Yes</label>
          </div>

          <div>
            <p-radio-button
              value="No"
              inputId="airline-motive-answer2"
              formControlName="airlineMotiveAnswer"
            ></p-radio-button>
            <label for="airline-motive-answer2">No</label>
          </div>

          <div>
            <p-radio-button
              value="I don't know"
              inputId="airline-motive-answer3"
              formControlName="airlineMotiveAnswer"
            ></p-radio-button>
            <label for="airline-motive-answer3">I don't know</label>
          </div>

          @if (this.disruptionForm.controls.airlineMotiveAnswer.value === 'Yes') {
            <p-message severity="secondary" variant="simple"
              >What was the motive communicated by the airline?</p-message
            >

            <div>
              <p-radio-button
                value="Technical problems"
                inputId="airline-motive-followup-answer1"
                formControlName="airlineMotiveFollowUpAnswer"
              ></p-radio-button>
              <label for="airline-motive-followup-answer1">Technical problems</label>
            </div>

            <div>
              <p-radio-button
                value="Metereological conditions"
                inputId="airline-motive-followup-answer2"
                formControlName="airlineMotiveFollowUpAnswer"
              ></p-radio-button>
              <label for="airline-motive-followup-answer2">Meteorological conditions</label>
            </div>

            <div>
              <p-radio-button
                value="Strike"
                inputId="airline-motive-followup-answer3"
                formControlName="airlineMotiveFollowUpAnswer"
              ></p-radio-button>
              <label for="airline-motive-followup-answer3">Strike</label>
            </div>

            <div>
              <p-radio-button
                value="Problems with airport"
                inputId="airline-motive-followup-answer4"
                formControlName="airlineMotiveFollowUpAnswer"
              ></p-radio-button>
              <label for="airline-motive-followup-answer4">Problems with airport</label>
            </div>

            <div>
              <p-radio-button
                value="Crew problems"
                inputId="airline-motive-followup-answer5"
                formControlName="airlineMotiveFollowUpAnswer"
              ></p-radio-button>
              <label for="airline-motive-followup-answer5">Crew problems</label>
            </div>

            <div>
              <p-radio-button
                value="Other motives"
                inputId="airline-motive-followup-answer6"
                formControlName="airlineMotiveFollowUpAnswer"
              ></p-radio-button>
              <label for="airline-motive-followup-answer6">Other motives</label>
            </div>
          }
        }
      </div>
      <div>
        @if (this.disruptionForm.controls.disruptionType.valid) {
          <p-floatlabel variant="on">
            <textarea
              rows="10"
              cols="100"
              pTextarea
              formControlName="disruptionInformation"
              id="disruptionInformation"
            ></textarea>
            <label for="disruptionInformation">Description</label>
          </p-floatlabel>
          <div class="error-placeholder">
            @if (
              this.disruptionForm.controls.disruptionInformation.errors &&
              this.disruptionForm.controls.disruptionInformation.touched
            ) {
              @switch (true) {
                @case (this.disruptionForm.controls.disruptionInformation.hasError('required')) {
                  <app-error-message text="The description should not be empty." />
                }
                @case (this.disruptionForm.controls.disruptionInformation.hasError('maxlength')) {
                  <app-error-message
                    text="The description should have less than 1000 characters."
                  />
                }
              }
            }
          </div>
        }
      </div>
    </div>
  </form>
</div>
