.error-placeholder {
  height: 2px;
  display: flex;
  align-items: flex-start;
}

::ng-deep {
  .disruption-wrapper {
    .p-scrollpanel {
      width: 30rem;
      height: 25rem;
    }

    @media(max-width: 700px) {
      .p-scrollpanel {
        width: 22rem;
        height: 37rem;
      }
    }

    @media(min-width: 1900px) {
      .p-scrollpanel {
        height: 30rem;
      }
    }
  }
}
