.error-placeholder {
  height: 2px;
  display: flex;
  align-items: flex-start;
}

.scroll-container {
  width: 30rem;
  height: 25rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media(max-width: 700px) {
  .scroll-container {
    width: 22rem;
    height: 37rem;
  }
}

@media(min-width: 1900px) {
  .scroll-container {
    height: 37rem;
  }
}
