<div class="navbar-wrapper">
  <div class="flex flex-wrap w-full top-0 left-0 right-0 fixed z-5">
    <p-menubar [model]="navbarMainItems" class="navbar w-full">
      <!--This section contains the elements that appear before the links in the middle of the navbar -->
      <ng-template pTemplate="start">
        <div class="logo flex align-items-center" routerLink="/">
          <img
            ngSrc="../../../../assets/photos/logo.png"
            alt="Logo"
            width="34"
            height="34"
            class="mr-2"
          />
          <span class="font-bold flex align-items-center mr-1" id="logo-text"> AIR-ASSIST.EU </span>
        </div>
      </ng-template>
      <!--This section contains the links in the middle of the navbar -->
      <ng-template pTemplate="item" let-item>
        <span>{{ item.label | translate }}</span>
      </ng-template>
      <!--This section contains the elements that appear at the end of the navbar -->
      <ng-template pTemplate="end">
        <div class="flex align-items-center gap-2">
          <img
            class="selectedLanguageFlag"
            [ngSrc]="selectedLanguageFlag"
            (click)="langSelect.show()"
            alt="Language"
            width="32"
            height="32"
          />
          <p-select
            #langSelect
            class="visually-hidden"
            [options]="languages"
            [ngModel]="_languageService.getSelectedLanguageCode()"
            (ngModelChange)="selectLanguage($event)"
          >
            <ng-template pTemplate="item" let-language>
              <img [ngSrc]="language.flag" alt="Language" width="24" height="24" class="mr-2" />
              {{ language.code }}
            </ng-template>
          </p-select>
          <p-button
            label="{{ 'navbar.login' | translate }}"
            icon="pi pi-user"
            type="button"
            class="p-button-text"
            (onClick)="redirectToLogin()"
            *ifAuthenticated="!isAuthenticated()"
          >
          </p-button>
          <div class="user-menu flex" *ifAuthenticated="isAuthenticated()">
            <p-button (onClick)="userMenu.toggle($event)">
              <span>{{ userName }}</span>
              <i class="pi pi-angle-down"></i>
            </p-button>

            <p-menu
              class="user-menu-dropdown"
              #userMenu
              [model]="userMenuItems"
              [popup]="true"
            ></p-menu>
          </div>
        </div>
      </ng-template>
    </p-menubar>
  </div>
</div>
<div class="navbar-spacer"></div>
