.navbar {
  --p-menubar-background: rgba(15, 27, 88, 0.97);
  --p-menubar-item-color: #ffffff;
  --p-menubar-item-focus-background	: none;
  --p-menubar-item-focus-color: #ffffff;
  --p-menubar-border-color: rgba(15, 27, 88, 0.97);
  --p-menubar-border-radius: 0;
}

.p-select{
  background: transparent;
  border: none;
  --p-select-placeholder-color: #ffffff;
}

p-select-label{
  color: #ffffff;
}

::ng-deep .navbar-wrapper .p-select-dropdown{
  display: none !important; ;
}

.selectedLanguageFlag{
  cursor: pointer;
  margin-right: -0.7rem;
}

p-select-list-container{
  margin-right: 2rem;
}

.p-button-text:hover,{
  color: #ffffff !important;
  background: none !important;
}


::ng-deep .navbar-wrapper .p-button{
  --p-button-primary-background: transparent;
  --p-button-primary-border-color: transparent;
  --p-button-primary-hover-background: none;
  --p-button-primary-active-background: none;
  --p-button-primary-hover-border-color: transparent;
  --p-button-primary-active-border-color: transparent;
}

.logo{
  cursor: pointer;
}



