<div class="navbar-wrapper">
  <div class="flex flex-wrap w-full top-0 left-0 right-0 fixed z-5">
    <p-menubar [model]="navbarMainItems" class="navbar w-full">
      <!--This section contains the elements that appear before the links in the middle of the navbar -->
      <ng-template pTemplate="start">
        <div class="logo flex align-items-center" routerLink="/">
          <img
            ngSrc="../../../../assets/photos/logo.png"
            alt="Logo"
            width="34"
            height="34"
            class="logo-img mr-2"
          />
          <span class="font-bold flex align-items-center mr-1" id="logo-text"> AIR-ASSIST.EU </span>
        </div>
      </ng-template>
      <!--This section contains the links in the middle of the navbar -->
      <ng-template pTemplate="item" let-item>
        <div class="middle-items">
          <span>{{ item.label | translate }}</span>
        </div>
      </ng-template>
      <!--This section contains the elements that appear at the end of the navbar -->
      <ng-template pTemplate="end">
        <div class="end-items">
          <div class="flex align-items-center gap-2">
            <img
              class="selected-language-flag"
              [ngSrc]="selectedLanguageFlag"
              (click)="langSelect.show()"
              alt="Language"
              width="32"
              height="32"
            />
            <p-select
              #langSelect
              class="visually-hidden"
              [options]="languages"
              [ngModel]="_languageService.getSelectedLanguageCode()"
              (ngModelChange)="selectLanguage($event)"
            >
              <ng-template pTemplate="item" let-language>
                <img [ngSrc]="language.flag" alt="Language" width="24" height="24" class="mr-2" />
                {{ language.code }}
              </ng-template>
            </p-select>
            <p-button
              label="{{ 'navbar.login' | translate }}"
              icon="pi pi-user"
              type="button"
              class="p-button-text"
              (onClick)="redirectToLogin()"
              *ifAuthenticated="!isAuthenticated()"
            >
            </p-button>
            <div class="user-menu flex" *ifAuthenticated="isAuthenticated()">
              <p-button (onClick)="userMenu.toggle($event)">
                <span>{{ userName }}</span>
                <i class="pi pi-angle-down"></i>
              </p-button>

              <p-menu
                class="user-menu-dropdown"
                #userMenu
                [model]="userMenuItems"
                [popup]="true"
              ></p-menu>
            </div>
          </div>
          <p-button
            class="hamburger-menu-button"
            (onClick)="toggleHamburgerMenu()"
            icon="pi pi-bars"
          >
          </p-button>
        </div>
      </ng-template>
    </p-menubar>
  </div>
</div>

<div class="navbar-spacer"></div>

<div
  class="hamburger-menu-overlay"
  *ngIf="isHamburgerMenuOpen"
  (click)="toggleHamburgerMenu()"
></div>
<div class="hamburger-menu-wrapper">
  <div class="hamburger-menu-container" *ngIf="isHamburgerMenuOpen">
    <ul class="hamburger-menu-content">
      <li class="first-section">
        <ul class="user-options">
          <li *ifAuthenticated="isAuthenticated()">
            <p class="greeting">{{ 'navbar.greeting' | translate }}, {{ userName }}</p>
          </li>
          <div *ifAuthenticated="isAuthenticated()">
            <li>
              <p-button
                label="{{ 'navbar.profile' | translate }}"
                type="button"
                class="p-button-text"
              ></p-button>
            </li>
            <li>
              <p-button
                label="{{ 'navbar.logout' | translate }}"
                type="button"
                class="p-button-text"
                (onClick)="logout()"
              ></p-button>
            </li>
          </div>
          <div *ifAuthenticated="!isAuthenticated()">
            <p-button
              label="{{ 'navbar.login' | translate }}"
              type="button"
              class="p-button-text"
              (onClick)="redirectToLogin()"
            ></p-button>
          </div>
        </ul>
      </li>
      <li class="second-section">
        <p-accordion value="-1">
          <p-accordion-panel value="0">
            <p-accordion-header
              >{{ 'navbar.language' | translate }}: {{ _languageService.getSelectedLanguageCode() }}
            </p-accordion-header>
            <p-accordion-content>
              <p-button *ngFor="let language of languages" (onClick)="selectLanguage(language)">
                <img [ngSrc]="language.flag" alt="Language" width="24" height="24" class="mr-2" />
                {{ language.name }}
              </p-button>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </li>
    </ul>
  </div>
</div>
