.page-container {
  text-align: center;
}

::ng-deep {
  .sign-in-form-wrapper {
    .custom-link-button {
      .p-button {
        padding: 0;
      }
    }
    .p-button {
      --p-button-primary-background: #1a3547;
      --p-button-primary-border-color: #0078bd;
      --p-button-primary-hover-background: #0078bd;
    }

    .p-inputtext {
      --p-inputtext-border-color: #1a3547;
      --p-inputtext-color: #1a3547;
      --p-inputtext-focus-border-color: #1a3547;
    }

    .p-floatlabel {
      --p-floatlabel-active-color: #1a3547;
      --p-floatlabel-focus-color: #1a3547;
      --p-floatlabel-color: #1a3547;
    }
  }
}

.error-placeholder {
  height: 2px;
  display: flex;
  align-items: flex-start;
}
