<!-- Design of the case form -->
<div class="page-container" style="text-align: center">
  <p-header class="text-3xl">
    {{ title() }}
  </p-header>
  <form
    novalidate
    [formGroup]="flightDetailsForm"
    class="flex flex-column gap-4 justify-content-center align-items-center mt-4"
  >
    <!-- Flight Number -->
    <div>
      <p-floatlabel variant="on">
        <label for="flightNumber">{{ 'flightForm.flightNumber' | translate }}</label>
        <input
          pInputText
          type="text"
          formControlName="flightNumber"
          id="flightNumber"
          (input)="checkAndEmitValidity()"
          class="w-25rem h-3rem"
        />
      </p-floatlabel>
      <div class="error-placeholder">
        @if (
          flightDetailsForm.controls.flightNumber.touched &&
          flightDetailsForm.controls.flightNumber.errors
        ) {
          @switch (true) {
            @case (flightDetailsForm.controls.flightNumber.hasError('required')) {
              <app-error-message text="{{ 'flightForm.flightNumberRequired' | translate }}" />
            }
            @case (flightDetailsForm.controls.flightNumber.hasError('minlength')) {
              <app-error-message text="{{ 'flightForm.flightNumberMinLength' | translate }}" />
            }
            @case (flightDetailsForm.controls.flightNumber.hasError('maxlength')) {
              <app-error-message text="{{ 'flightForm.flightNumberMaxLength' | translate }}" />
            }
            @case (flightDetailsForm.controls.flightNumber.hasError('pattern')) {
              <app-error-message text="{{ 'flightForm.flightNumberPattern' | translate }}" />
            }
          }
        }
      </div>
    </div>

    <!-- Airline -->
    <div>
      <p-floatlabel variant="on">
        <label for="airline">{{ 'flightForm.airline' | translate }}</label>
        <input
          pInputText
          type="text"
          formControlName="airline"
          id="airline"
          (input)="checkAndEmitValidity()"
          class="w-25rem h-3rem"
        />
      </p-floatlabel>
      <div class="error-placeholder">
        @if (
          flightDetailsForm.controls.airline.touched && flightDetailsForm.controls.airline.errors
        ) {
          @switch (true) {
            @case (flightDetailsForm.controls.airline.hasError('required')) {
              <app-error-message text="{{ 'flightForm.airlineRequired' | translate }}" />
            }
            @case (flightDetailsForm.controls.airline.hasError('minlength')) {
              <app-error-message text="{{ 'flightForm.airlineMinLength' | translate }}" />
            }
            @case (flightDetailsForm.controls.airline.hasError('maxlength')) {
              <app-error-message text="{{ 'flightForm.airlineMaxLength' | translate }}" />
            }
            @case (flightDetailsForm.controls.airline.hasError('pattern')) {
              <app-error-message text="{{ 'flightForm.airlinePattern' | translate }}" />
            }
            @case (flightDetailsForm.controls.airline.hasError('notEmptyAfterTrim')) {
              <app-error-message text="{{ 'flightForm.airlineNotEmptyAfterTrim' | translate }}" />
            }
          }
        }
      </div>
    </div>

    <!-- Planned Departure Time -->
    <div>
      <p-floatlabel variant="on">
        <p-datepicker
          inputId="calendar-24h"
          formControlName="plannedDepartureTime"
          id="plannedDepartureTime"
          [showTime]="true"
          [hourFormat]="'24'"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [readonlyInput]="true"
          (onSelect)="checkAndEmitValidity()"
          [styleClass]="'w-25rem h-3rem'"
        />
        <label for="plannedDepartureTime">{{
          'flightForm.plannedDepartureTime' | translate
        }}</label>
      </p-floatlabel>
      <div class="error-placeholder">
        @if (
          flightDetailsForm.controls.plannedDepartureTime.hasError('required') &&
          flightDetailsForm.controls.plannedDepartureTime.touched
        ) {
          <app-error-message text="{{ 'flightForm.plannedDepartureTimeRequired' | translate }}" />
        }
      </div>
    </div>

    <!-- Planned Arrival Time -->
    <div>
      <p-floatlabel variant="on">
        <p-datepicker
          inputId="calendar-24h"
          formControlName="plannedArrivalTime"
          id="plannedArrivalTime"
          [showTime]="true"
          [hourFormat]="'24'"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [readonlyInput]="true"
          (onSelect)="checkAndEmitValidity()"
          [styleClass]="'w-25rem h-3rem'"
        />
        <label for="plannedArrivalTime">{{ 'flightForm.plannedArrivalTime' | translate }}</label>
      </p-floatlabel>
      <div class="error-placeholder">
        @if (
          flightDetailsForm.controls.plannedArrivalTime.hasError('required') &&
          flightDetailsForm.controls.plannedArrivalTime.touched
        ) {
          <app-error-message text="{{ 'flightForm.plannedArrivalTimeRequired' | translate }}" />
        }
        @if (
          flightDetailsForm.hasError('arrivalBeforeDeparture') &&
          flightDetailsForm.controls.plannedArrivalTime.touched &&
          flightDetailsForm.controls.plannedDepartureTime.touched
        ) {
          <app-error-message text="{{ 'flightForm.arrivalBeforeDeparture' | translate }}" />
        }
      </div>
    </div>
  </form>
</div>
