<div
  class="page-container h-full flex flex-column justify-content-center align-items-center mt-4 pt-8 request-reset-form-wrapper"
>
  <p-card>
    <h2 class="text-3xl"> {{ 'request-reset.title' | translate }} </h2>

    <form
      novalidate
      [formGroup]="requestResetForm"
      class="flex flex-column gap-4 mt-4 justify-content-center align-items-center"
    >
      <!-- Email Input -->
      <div style="width: 400px">
        <p-floatlabel variant="on">
          <label for="email">{{ 'request-reset.email-label' | translate }}</label>
          <input
            pInputText
            type="email"
            formControlName="email"
            id="email"
            class="w-25rem h-3rem"
          />
        </p-floatlabel>
        <div class="error-placeholder">
          @if (requestResetForm.controls.email.touched && requestResetForm.controls.email.errors) {
            @switch (true) {
              @case (requestResetForm.controls.email.hasError('required')) {
                <app-error-message text="{{ 'request-reset.email-required' | translate }}" />
              }
              @case (requestResetForm.controls.email.hasError('email')) {
                <app-error-message text="{{ 'request-reset.email-invalid' | translate }}" />
              }
            }
          }
        </div>
      </div>

      <div style="width: 400px">
        <p-panel class="m-0" header="{{ 'request-reset.panel-header' | translate }}">
          <p class="text-left">{{ 'request-reset.description' | translate }}</p>
        </p-panel>
      </div>

      <!-- Submit Button -->
      <div>
        <p-button
          label="{{ 'request-reset.submit-button' | translate }}"
          type="submit"
          [disabled]="requestResetForm.invalid"
          (onClick)="onFormSubmit()"
          class="w-25rem h-3rem"
          size="large"
        ></p-button>
      </div>
    </form>
  </p-card>
</div>
