<div class="caseFormWrapper">
  <p-stepper [value]="currentStep()" [linear]="true" class="text-pink-500">
    <p-step-list>
      <!-- Step indicators -->
      <p-step [value]="1">{{ 'stepper.step1' | translate }}</p-step>
      <p-step [value]="2">{{ 'stepper.step2' | translate }}</p-step>
      <p-step [value]="3">{{ 'stepper.step3' | translate }}</p-step>
      <p-step [value]="4">{{ 'stepper.step4' | translate }}</p-step>
      <p-step [value]="5">Summary</p-step>
      <p-step [value]="6">{{ 'stepper.step6' | translate }}</p-step>
      <p-step [value]="7">Confirmation</p-step>
    </p-step-list>
    <p-step-panels>
      <!-- Step 1: Reservation Info -->
      <p-step-panel [value]="1">
        <ng-template pTemplate="content" let-nextCallback="nextCallback">
          <form
            [formGroup]="reservationForm"
            (ngSubmit)="onNext(nextCallback)"
            class="flex flex-column gap-4 justify-content-center align-items-center"
          >
            <p-header class="text-3xl">{{ 'mainForm.reservationHeader' | translate }}</p-header>

            <div>
              <p-floatlabel variant="on">
                <input
                  pInputText
                  id="reservationNumber"
                  formControlName="reservationNumber"
                  class="w-26rem h-3rem inputclass"
                />
                <label for="reservationNumber">{{
                  'mainForm.reservationNumber' | translate
                }}</label>
              </p-floatlabel>
              <!-- Error Messages -->
              <div class="error-placeholder">
                @if (
                  reservationForm.controls.reservationNumber.touched &&
                  reservationForm.controls.reservationNumber.errors
                ) {
                  <!-- In case there is an error, it will display the firconnectionsShouldBeDifferentst one that has value true-->
                  @switch (true) {
                    @case (reservationForm.controls.reservationNumber.hasError('required')) {
                      <app-error-message
                        text="{{ 'mainForm.reservationNumberRequired' | translate }}"
                      />
                    }
                    @case (
                      reservationForm.controls.reservationNumber.hasError('minlength') ||
                      reservationForm.controls.reservationNumber.hasError('maxlength')
                    ) {
                      <app-error-message text="{{ 'mainForm.reservationLength' | translate }}" />
                    }
                    @case (reservationForm.controls.reservationNumber.hasError('pattern')) {
                      <app-error-message text="{{ 'mainForm.reservationPattern' | translate }}" />
                    }
                  }
                }
              </div>
            </div>

            <div>
              <p-floatlabel variant="on">
                <p-autocomplete
                  [styleClass]="'w-26rem h-3rem'"
                  id="departingAirport"
                  formControlName="departingAirport"
                  [dropdown]="true"
                  [suggestions]="airportsSuggestion"
                  (completeMethod)="search($event)"
                  optionValue="code"
                  optionLabel="name"
                  [forceSelection]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="50"
                ></p-autocomplete>
                <label for="departingAirport">{{ 'mainForm.departingAirport' | translate }}</label>
              </p-floatlabel>
              <!-- Error Messages -->
              <div class="error-placeholder">
                @if (
                  reservationForm.controls.departingAirport.touched &&
                  reservationForm.controls.departingAirport.errors
                ) {
                  <!-- In case there is an error, it will display the first one that has value true-->
                  @switch (true) {
                    @case (reservationForm.controls.departingAirport.hasError('required')) {
                      <app-error-message
                        text="{{ 'mainForm.departingAirportRequired' | translate }}"
                      />
                    }
                    @case (
                      reservationForm.controls.departingAirport.hasError('minlength') ||
                      reservationForm.controls.departingAirport.hasError('maxlength')
                    ) {
                      <app-error-message
                        text="{{ 'mainForm.departingAirportLength' | translate }}"
                      />
                    }
                    @case (reservationForm.controls.departingAirport.hasError('pattern')) {
                      <app-error-message
                        text="{{ 'mainForm.departingAirportUpper' | translate }}"
                      />
                    }
                  }
                }
              </div>
            </div>

            <div>
              <p-floatlabel variant="on">
                <p-autocomplete
                  id="destinationAirport"
                  formControlName="destinationAirport"
                  [dropdown]="true"
                  [styleClass]="'w-26rem h-3rem'"
                  [suggestions]="airportsSuggestion"
                  (completeMethod)="search($event)"
                  optionValue="code"
                  optionLabel="name"
                  [forceSelection]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="50"
                />
                <label for="destinationAirport">{{
                  'mainForm.departingAirport' | translate
                }}</label>
              </p-floatlabel>
              <!-- Error Messages -->
              <div class="error-placeholder">
                @if (
                  reservationForm.controls.destinationAirport.touched &&
                  reservationForm.controls.destinationAirport.errors
                ) {
                  <!-- In case there is an error, it will display the first one that has value true-->
                  @switch (true) {
                    @case (reservationForm.controls.destinationAirport.hasError('required')) {
                      <app-error-message
                        text="{{ 'mainForm.departingAirportRequired' | translate }}"
                      />
                    }
                    @case (
                      reservationForm.controls.destinationAirport.hasError('minlength') ||
                      reservationForm.controls.destinationAirport.hasError('maxlength')
                    ) {
                      <app-error-message
                        text="{{ 'mainForm.departingAirportLength' | translate }}"
                      />
                    }
                    @case (reservationForm.controls.destinationAirport.hasError('pattern')) {
                      <app-error-message
                        text="{{ 'mainForm.departingAirportUpper' | translate }}"
                      />
                    }
                  }
                }
                @if (
                  reservationForm.hasError('destinationIsDeparting') &&
                  reservationForm.controls.departingAirport.touched
                ) {
                  <app-error-message text="{{ 'mainForm.destinationIsDeparting' | translate }}" />
                }
              </div>
            </div>

            <!--Compensation level message-->
            <div>
              @if (
                reservationForm.controls.destinationAirport.valid &&
                reservationForm.controls.destinationAirport.valid &&
                !!compensation
              ) {
                <p-message severity="success"
                  >{{ 'case-form.compensation-start' | translate }}{{ compensation
                  }}{{ 'case-form.compensation-end' | translate }}</p-message
                >
              }
            </div>

            <!-- Next Button -->
            <p-button
              [styleClass]="'px-6'"
              label="{{ 'mainForm.next' | translate }}"
              severity="primary"
              (onClick)="onNext(nextCallback)"
              [disabled]="reservationForm.invalid"
            />
          </form>
        </ng-template>
      </p-step-panel>

      <!-- Step 2: Flight Details -->
      <p-step-panel [value]="2">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <div class="grid">
            <!-- Main Flight Form -->
            <app-flight-form
              title="{{ 'mainForm.flightDetailsTitle' | translate }}"
              #mainFlightForm
              [initialData]="flightData"
              (validityChange)="onMainFlightValidityChange($event.valid, $event.data)"
              class="ml-8 col mb-8"
            >
            </app-flight-form>

            <!-- Connection Flights -->
            <div class="mr-8 col">
              <div class="flex flex-row justify-content-center align-items-center">
                <p-header class="text-3xl">{{
                  'mainForm.connectionFlightsHeader' | translate
                }}</p-header>
                <div class="ml-4">
                  <p-button
                    icon="pi pi-plus"
                    (onClick)="addConnectionFlight()"
                    [styleClass]="'px-1'"
                    [disabled]="airportsArray.length === MAXIMUM_CONNECTIONS"
                    size="small"
                  ></p-button>
                </div>
              </div>

              <div class="flex flex-column mt-4">
                <!-- Displaying the departing airport -->
                <p-message
                  variant="outlined"
                  severity="primary"
                  class="w-15rem align-self-center mb-4"
                  >{{ 'mainForm.connectionDepartingAirport' | translate }}
                  {{ reservationInformation.departingAirport }}</p-message
                >

                <!-- Connection Flight Form -->
                <form novalidate [formGroup]="airportFormArray">
                  <div formArrayName="airports" class="flex flex-column gap-2">
                    @if (airportsArray.length > 0) {
                      <div class="align-self-center mt-2">
                        @for (airport of airportsArray.controls; track airport; let i = $index) {
                          @if (airport !== null) {
                            <div class="grid justify-content-between align-items-center mb-4">
                              <div class="flex flex-column">
                                <p-floatlabel variant="on">
                                  <p-autocomplete
                                    [dropdown]="true"
                                    class="w-15rem h-2rem"
                                    [id]="'connectionFlight' + i"
                                    [formControlName]="i"
                                    [suggestions]="airportsSuggestion"
                                    (completeMethod)="search($event)"
                                    optionValue="code"
                                    optionLabel="name"
                                    [forceSelection]="true"
                                    [virtualScroll]="true"
                                    [virtualScrollItemSize]="50"
                                  >
                                    <ng-template let-airport pTemplate="selectedItem">
                                      {{ getAirportDisplayName(airport) }}
                                    </ng-template>
                                    <ng-template let-airport pTemplate="item">
                                      {{ airport.name }}
                                    </ng-template></p-autocomplete
                                  >
                                  <label [for]="'connectionFlight' + i">{{
                                    'mainForm.connection' | translate
                                  }}</label>
                                </p-floatlabel>

                                <!-- Error Messages -->
                                <div class="error-placeholder">
                                  @if (airport.touched && airport.errors) {
                                    @switch (true) {
                                      @case (airport.hasError('required')) {
                                        <app-error-message
                                          text="{{
                                            'mainForm.connectionDestinationRequired' | translate
                                          }}"
                                        />
                                      }
                                      @case (
                                        airport.hasError('minlength') ||
                                        airport.hasError('maxlength')
                                      ) {
                                        <app-error-message
                                          text="{{
                                            'mainForm.connectionDestinationLength' | translate
                                          }}"
                                        />
                                      }
                                      @case (airport.hasError('pattern')) {
                                        <app-error-message
                                          text="{{
                                            'mainForm.connectionDestinationUpper' | translate
                                          }}"
                                        />
                                      }
                                    }
                                  }

                                  @if (
                                    airport.hasError('connectionsShouldBeDifferent') &&
                                    airport.touched
                                  ) {
                                    <app-error-message
                                      text="{{
                                        'mainForm.connectionsShouldBedifferent' | translate
                                      }}"
                                    />
                                  } @else if (
                                    airport.touched &&
                                    reservationInformation.departingAirport === airport.value
                                  ) {
                                    <app-error-message
                                      text="{{ 'mainForm.usedDepartingAirport' | translate }}"
                                    />
                                  } @else if (
                                    airport.touched &&
                                    reservationInformation.destinationAirport === airport.value
                                  ) {
                                    <app-error-message
                                      text="{{ 'mainForm.usedDestinationAirport' | translate }}"
                                    />
                                  }
                                </div>
                              </div>

                              <!-- Remove Button -->
                              <p-button
                                icon="pi pi-trash"
                                severity="danger"
                                (onClick)="removeConnectionFlight(i)"
                                [styleClass]="'px-1 py-1 text-xs'"
                                class="ml-2 mb-1"
                              />
                            </div>
                          }
                        }
                      </div>
                    }
                  </div>
                </form>

                <!-- Displaying the destination airport -->
                <p-message variant="outlined" severity="primary" class="align-self-center w-15rem"
                  >{{ 'mainForm.destinationAirport' | translate }}:
                  {{ reservationInformation.destinationAirport }}</p-message
                >
              </div>
            </div>
          </div>

          <!-- Next and back buttons -->
          <div class="justify-content-center flex flex-row gap-6">
            <p-button
              label="{{ 'mainForm.previous' | translate }}"
              severity="secondary"
              (onClick)="onPrevious(prevCallback)"
              [styleClass]="'px-6'"
            />
            <p-button
              label="{{ 'mainForm.next' | translate }}"
              severity="primary"
              [disabled]="!isNextButtonEnabled"
              [styleClass]="'px-6'"
              (onClick)="onNextFromFlightDetails(nextCallback, mainFlightForm)"
            />
          </div>
        </ng-template>
      </p-step-panel>

      <!-- Step 3: Connection Flights -->
      <p-step-panel [value]="3">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <div class="flex flex-wrap justify-content-center gap-4">
            @for (i of connectionIndices; track i) {
              <div class="w-5 mb-4">
                <div
                  class="flex flex-column justify-content-center align-items-center p-3 border-round surface-card"
                >
                  <h3 class="text-center mb-2"
                    >{{ 'mainForm.connection' | translate }}: {{ connectionFlights[i][0] }} -
                    {{ connectionFlights[i][1] }}</h3
                  >
                  <p-button
                    icon="pi pi-flag"
                    severity="success"
                    (onClick)="toggleFlag(i)"
                    [disabled]="this.flags === this.MAX_FLAGS && !isFlagged[i]"
                  ></p-button>
                  <app-flight-form
                    [title]="''"
                    [initialData]="getConnectionInitialData(i)"
                    (validityChange)="
                      onConnectionFlightValidityChange(i, $event.valid, $event.data)
                    "
                  >
                  </app-flight-form>
                </div>
              </div>
            }
          </div>

          <!-- Next and back buttons -->
          <div class="justify-content-between flex flex-row gap-2">
            <p-button
              label="{{ 'mainForm.previous' | translate }}"
              severity="secondary"
              (onClick)="onPrevious(prevCallback)"
              [styleClass]="'px-6'"
            />
            <p-button
              label="{{ 'mainForm.next' | translate }}"
              severity="primary"
              [disabled]="!areAllConnectionFlightsValid() || this.flags !== this.MAX_FLAGS"
              [styleClass]="'px-6'"
              (onClick)="onNextFromConnectionFlights(nextCallback)"
            />
          </div>
        </ng-template>
        <!-- Step 4: Disruption Info -->
      </p-step-panel>
      <p-step-panel [value]="4">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <app-disruption-form
            #disruptionForm
            (validityChange)="onDisruptionFormValidityChange($event)"
          />

          <p-button
            label="{{ 'mainForm.previous' | translate }}"
            severity="secondary"
            (onClick)="onPreviousFromDisruptionInfo(prevCallback)"
            [styleClass]="'px-6 mt-8'"
          />

          <p-button
            label="{{ 'mainForm.next' | translate }}"
            severity="primary"
            (onClick)="onNextFromDisruptionInfo(nextCallback)"
            [styleClass]="'px-6 mt-8'"
          />
        </ng-template>
      </p-step-panel>
      <!-- Step 5: Summary -->
      <p-step-panel [value]="5">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <p>Summary yey</p>

          <p-button
            label="{{ 'mainForm.previous' | translate }}"
            severity="secondary"
            (onClick)="onPrevious(prevCallback)"
            [styleClass]="'px-6 mt-8'"
          />

          <p-button
            label="{{ 'mainForm.next' | translate }}"
            severity="primary"
            (onClick)="onNext(nextCallback)"
            [styleClass]="'px-6 mt-8'"
          />
        </ng-template>
      </p-step-panel>
      <!-- Step 6: User Registration -->
      <p-step-panel [value]="6">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <app-user-registration
            #userRegistration
            [initialData]="userRegistrationInitialData"
            [isUserReadOnly]="isUserReadOnly()"
            (validityChange)="onUserRegistrationValidityChange($event.valid, $event.data)"
          />

          <div class="justify-content-center flex flex-row gap-6">
            <p-button
              label="{{ 'mainForm.previous' | translate }}"
              severity="secondary"
              (onClick)="onPrevious(prevCallback)"
              [styleClass]="'px-6 mt-8'"
            />

            <p-button
              label="{{ 'mainForm.next' | translate }}"
              severity="primary"
              [disabled]="!isUserRegistrationValid"
              (onClick)="onNextFromUserRegistration(nextCallback)"
              [styleClass]="'px-6 mt-8'"
            />
          </div>
        </ng-template>
      </p-step-panel>
      <!-- Step 7: Summary -->
      <p-step-panel [value]="7">
        <ng-template
          pTemplate="content"
          let-prevCallback="prevCallback"
          let-nextCallback="nextCallback"
        >
          <p>Summary yey</p>

          <p-button
            label="{{ 'mainForm.previous' | translate }}"
            severity="secondary"
            (onClick)="onPrevious(prevCallback)"
            [styleClass]="'px-6 mt-8'"
          />

          <p-button
            label="{{ 'mainForm.next' | translate }}"
            severity="primary"
            (onClick)="onNext(nextCallback)"
            [styleClass]="'px-6 mt-8'"
          />
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
