/* You can add global styles to this file, and also import other style files */
.field {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .p-floatlabel,
  .p-inputtext {
    width: 100%;
    max-width: 400px;
  }

  .p-autocomplete {
    width: 100%;
    max-width: 400px;

    .p-autocomplete {
      width: 100%;
    }

    .p-autocomplete-input {
      width: 80%;
    }

    .p-autocomplete-dropdown {
      width: 20%;
    }
  }
}
