@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

body {
  font-family: 'Candara', serif;
  font-style: normal;
  margin: 0;
}

.disabled-button .p-button:disabled {
  background-color: red;
}

.p-confirmdialog-accept-button {
  background-color: #a6eb55 !important;
  border-color: #a6eb55 !important;
  color: #0c2c70 !important;
}

.p-confirmdialog-reject-button {
  background-color: red !important;
  border-color: red !important;
  color: white !important;
}

