<div class="employee-dialog-container">
  <p-dialog
    header="{{ 'employee-dialog.header' | translate }}"
    [modal]="true"
    [visible]="visible()"
    (visibleChange)="visibleChange.emit($event)"
    [style]="{ width: '25rem', height: '32rem' }"
    [contentStyle]="{ overflow: 'visible', 'padding-bottom': '100px' }"
    (onHide)="onCancelClick()"
  >
    <div class="flex flex-column gap-4 mb-4">
      <div class="flex flex-column gap-2">
        <label for="firstName" class="font-semibold">{{
          'employee-dialog.firstName' | translate
        }}</label>
        <input
          pInputText
          id="firstName"
          class="w-full"
          autocomplete="off"
          [(ngModel)]="firstName"
        />
      </div>

      <div class="flex flex-column gap-2">
        <label for="lastName" class="font-semibold">{{
          'employee-dialog.lastName' | translate
        }}</label>
        <input pInputText id="lastName" class="w-full" autocomplete="off" [(ngModel)]="lastName" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="email" class="font-semibold">{{ 'employee-dialog.email' | translate }}</label>
        <input
          pInputText
          id="email"
          type="email"
          class="w-full"
          autocomplete="off"
          [(ngModel)]="email"
        />
      </div>

      <div class="flex flex-column gap-2" style="position: relative">
        <label for="role" class="font-semibold">{{ 'employee-dialog.role' | translate }}</label>
        <p-select
          [options]="roles"
          [(ngModel)]="selectedRole"
          optionLabel="name"
          placeholder="Select a Role"
          class="w-full"
          [panelStyle]="{
            'max-height': '120px',
            'overflow-y': 'auto',
            width: '100%',
            left: '0',
            top: '100%',
          }"
          [showClear]="true"
          panelStyleClass="role-dropdown-panel"
        />
      </div>
    </div>

    <div class="flex justify-end gap-2">
      <p-button
        label="{{ 'employee-dialog.cancel' | translate }}"
        severity="secondary"
        (click)="onCancelClick()"
        [disabled]="loading()"
      />
      <p-button
        label="{{ 'employee-dialog.save' | translate }}"
        (click)="onSaveClick()"
        [loading]="loading()"
        [disabled]="loading()"
      />
    </div>
  </p-dialog>
</div>
