<div class="page-container h-full flex flex-column justify-content-center align-items-center mt-8 pt-8">
  <h2 class="text-3xl"> Sign In </h2>
  <form
    novalidate
    [formGroup]="signInForm"
    class="flex flex-column gap-4 mt-6"
  >
    <!-- Email Input -->
    <div>
      <p-floatlabel variant="on">
        <label for="email">Email</label>
        <input pInputText type="email" formControlName="email" id="email" class="w-25rem h-3rem" />
      </p-floatlabel>
      <div class="error-placeholder">
        @if (signInForm.controls.email.touched && signInForm.controls.email.errors) {
          @switch (true) {
            @case (signInForm.controls.email.hasError('required')) {
              <app-error-message text="Email is required." />
            }
            @case (signInForm.controls.email.hasError('email')) {
              <app-error-message text="Please enter a valid email address." />
            }
          }
        }
      </div>
    </div>

    <!-- Password Input -->
    <div>
      <p-floatlabel variant="on">
        <label for="password">Password</label>
        <input
          pInputText
          type="password"
          formControlName="password"
          id="password"
          class="w-25rem h-3rem"
        />
      </p-floatlabel>
      <div class="error-placeholder">
        @if (signInForm.controls.password.touched && signInForm.controls.password.errors) {
          @switch (true) {
            @case (signInForm.controls.password.hasError('required')) {
              <app-error-message text="Password is required." />
            }
            @case (signInForm.controls.password.hasError('minlength')) {
              <app-error-message text="Password must be at least 6 characters long." />
            }
            @case (signInForm.controls.password.hasError('maxlength')) {
              <app-error-message text="Password cannot exceed 20 characters." />
            }
          }
        }
      </div>
    </div>

    <!-- Forgot Password Link -->
    <div>
      Forgot your password? Reset<p-button
        label="here"
        [link]="true"
        class="custom-link-button pl-1"
      />!
    </div>

    <!-- Submit Button -->
    <div>
      <p-button
        label="Sign In"
        type="submit"
        [disabled]="signInForm.invalid"
        (click)="onFormSubmit()"
        class="w-25rem h-3rem"
        size="large"
      ></p-button>
    </div>
  </form>
</div>
